.upperbar {
  height: 75px;
  border-bottom: 1px solid $secondary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
  h2 { 
    margin: 0;
    font-family: $subtitle;
  }
  ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 8px;
  }
  i {
    margin-right: 6px;
  }
}
