button {
  &.signup {
    background-color: $primary;
    color: $white;
    border: none;
    border-radius: 5px;
    padding: 5px 20px;
    cursor: pointer;
    font-family: $subtitle;
    transition: all 0.3s ease-in-out;
    a {
      color: $white !important;
      text-decoration: none !important;
    }
    &:hover {
      background-color: lighten($primary, 12%);
    }
  }

  &.no {
    background-color: $white;
    color: $primary;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: $subtitle;
    transition: all 0.3s ease-in-out;
    font-size: 20px;
    color: $tertiary;
    width: 100%;
    display: flex;
    a {
      color: $primary !important;
      text-decoration: none !important;
    }
    &:hover {
      background-color: darken($white, 10%);
      color: $primary;
    }
  }
}
