.card {
  border: 1px solid $secondary;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  padding: 0 10px;
  box-sizing: border-box;
  position: relative;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    h3 {
      margin: 0;
      font-family: $subtitle;
    }
    i {
      cursor: pointer;
      &:hover {
        color: $tertiary;
      }
    }
  }
  &__content {
    p {
      margin: 0;
      font-size: 16px;
    }
  }
  &__tags {
    position: absolute;
    bottom: 0;
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-top: 10px;
    border-top: 1px solid $secondary;
    p {
      margin: 0;
      font-size: 14px;
      background-color: $secondary;
      color: $white;
      padding: 2px 5px;
      border-radius: 5px;
    }
  }
}