.notes {
  height: calc(100vh - 75px);
  width: auto;
  #editor {
    height: 100%;
    width: 100%;
    padding: 25px;
    box-sizing: border-box;
    overflow-y: scroll;
    font-family: $text;
    font-size: 20px;
    border: 0;
    &:focus {
      outline: none;
    }
  }
}