@import url("https://fonts.googleapis.com/css?family=Cairo:400,700");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Hind+Madurai:400,700");
body {
  margin: 0;
  overflow: hidden;
}

h1, h2 {
  font-family: "Cairo", sans-serif;
  font-weight: 400;
}

a {
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
}

p {
  font-family: "Hind Madurai", sans-serif;
  font-weight: 400;
}

button.signup {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  transition: all 0.3s ease-in-out;
}
button.signup a {
  color: #fff !important;
  text-decoration: none !important;
}
button.signup:hover {
  background-color: #1f1f1f;
}
button.no {
  background-color: #fff;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  font-family: "Work Sans", sans-serif;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  color: #262626;
  width: 100%;
  display: flex;
}
button.no a {
  color: #000 !important;
  text-decoration: none !important;
}
button.no:hover {
  background-color: #e6e6e6;
  color: #000;
}
button.tools {
  width: unset;
}

ul.no-bullet {
  list-style-type: none;
  padding: 0;
}

input {
  border: 1px solid #eee;
  border-radius: 5px;
  padding: 5px 10px;
}
input:active {
  border: 1px solid #000;
}

.logo {
  font-size: 48px;
  margin: 10px 0;
}

.notes {
  height: calc(100vh - 75px);
  width: auto;
}
.notes #editor {
  height: 100%;
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
  overflow-y: scroll;
  font-family: "Hind Madurai", sans-serif;
  font-size: 20px;
  border: 0;
}
.notes #editor:focus {
  outline: none;
}

.navtab {
  min-width: 300px;
  height: 100vh;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navtab__header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navtab__body {
  display: flex;
  flex-direction: column;
  padding: 15px 35px;
}
.navtab__body h2 {
  margin: 0;
}
.navtab__body ul {
  margin: 5px 0 0 0;
}
.navtab__footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navtab i {
  margin-right: 10px;
}
.navtab input {
  font-size: 16px;
}

.upperbar {
  height: 75px;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0 25px;
}
.upperbar h2 {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
.upperbar ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 8px;
}
.upperbar i {
  margin-right: 6px;
}

.notes-list {
  height: 100%;
  width: 300px;
  border-right: 1px solid #eee;
}

.homepage {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 75px;
  height: 100vh;
}
.homepage nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}
.homepage nav h1 {
  font-size: 38px;
  margin: 0;
}
.homepage nav ul {
  display: flex;
  align-items: center;
  list-style: none;
}
.homepage nav ul li {
  margin-left: 20px;
}
.homepage nav ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.homepage nav ul li a button {
  font-size: 18px;
}
.homepage nav ul li a:hover {
  text-decoration: underline;
}
.homepage main {
  display: flex;
  justify-content: space-evenly;
}
.homepage main h2 {
  font-size: 30px;
  margin: 0;
}
.homepage main p {
  font-size: 18px;
  margin: 0;
}
.homepage main img {
  height: 512px;
  width: 720px;
  object-fit: cover;
  border: 1px solid #eee;
  border-radius: 15px;
}
.homepage__hero {
  max-width: 500px;
  margin: auto 0;
}
.homepage footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: #000;
  color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
.homepage footer i {
  color: #fff;
}
.homepage footer i:hover {
  color: #ccc;
}
.homepage footer p {
  font-size: 18px;
}
.homepage footer ul {
  display: flex;
  list-style: none;
}
.homepage footer ul li {
  margin-left: 20px;
}
.homepage footer ul li a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
}
.homepage footer ul li a:hover {
  text-decoration: underline;
}

.dashboard {
  display: flex;
  flex-direction: row;
}
.dashboard__content {
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
